.carTop {
    width: 1200px;
    height: 100px;
    margin: 0 auto;

}

.carTop img {
    margin-top: 20px;
    float:left

}
.user{
    width: 300px;
    height: 100px;
    line-height: 100px;
    margin-left: 200px;
    color: royalblue;
    float: left;
}
.trade-step{
    width: 400px;
    height: 60px;
    float: right;
}
.trade-step dl{
    width: 120px;
    height: 8px;
    float: left;
    background: #cccccc;
    position: relative;
    top: 30px;
}
.trade-step dl.cur dt{
    background: #f21c1c;
    border-color: #f21c1c;
    color: #fff;
}
.trade-step .cur{
    background: #f21c1c;
    color: #fff;
}
.trade-step dt{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    line-height: 24px;
    text-align: center;
    background: #dfdfdf;
    border: solid 1px #ccc;
    border-radius: 100%;
    font-size: 14px;
}
.trade-step dd{
    top: 24px;
    left: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    color: #f21c1c;
    font-weight: bold;
    font-size: 12px;
}
.carBox {
    width: 1200px;
    /* height: 260px; */
    min-height: 260px;
    margin: 0 auto;
}

.carBox .boxTitle {
    width: 1200px;
    /* height: 32px; */
    height: 30px;
    line-height: 30px;
    border-bottom: solid 2px #dfdfdf;
}
 .boxTitle .titleL {
    height: 32px;
    float: left;
}
.titleL a{
    display: inline-block;
    padding: 0 5px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.titleL  .cur{
    color: #f21c1c;
    border-bottom: solid 2px #f21c1c;
    height: 30px;
}
 .boxTitle .titleR {
    height: 29px;
    float: right;
    font-size: 12px;
}
 .red1,.red2,.red {
    color: red;
}
.carBox .boxContent {
    width: 1200px;
}
.boxContent .carItem{
    width: 1200px;
    height: 28px;
    border: 0;
    padding: 5px 0;
    margin-top: 10px;
    overflow: hidden;
}
.carItem .itemleft{
    float: left;
    width: 50px;
    text-align: center;
    font-size: 12px;
    margin-top: 3px;
}
.cb{
    position: relative;
}
#checkAll{
    vertical-align: middle;
    margin-right: 3px;
    outline: none;
    border: none !important;
    display: inline-block;
    width: 16px;
    height: 16px;  
}
.itemright{
    width: 1150px;
    float: left;
}
 .product,.price,.count,.sum,.action{
    display: inline-block;
    width: 150px;
    font-size: 12px;
}
.product{
    width: 450px;
    padding-left: 50px;
}
.carList{
    width: 1198px;
    height: 100px;
    border: 1px solid #cccccc;
    font-size: 12px;
    color: #9c9c9c;
    margin-top: 10px;
}
#carcheck{
    float: left;
}
.pic{
    width: 500px;
    height: 80px;
    float: left;
}
.pic img{
    width: 80px;
    height: 80px;
    float: left;
}
.pic p{
    width: 400px;
    float: left;
    font-size: 12px;
    color: #9c9c9c;
    margin-top: 20px;

}
#counts{
    width: 30px;
    height: 20px;
    display: inline-block;
    text-align: center;
}
.lprice,.lcount,.ltotal,.laction{
    width: 150px;
    float: left;
    margin-top: 20px;
    text-align: center;
}
.lprice,.laction{
    color: red;
    cursor: pointer;
}
.lcount a{
    color: black;
    font-size: 14px;
}
.carTotal{
    width: 1200px;
    height: 50px;
    border: 1px solid #cccccc;
    margin-top: 20px;

}
.toleft{
    width: 60px;
    font-size: 14px;
    line-height: 50px;
    float: left;
    position: relative;
}
.tf{
    width: 20px;
    font-size: 14px;
    line-height: 50px;
    float: left;
    position: relative; 
}


.foot{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
   
}
.carTotal a{
    color: red;
    width: 90px;
    font-size: 14px;
    line-height: 50px;
    float: left;
    cursor: pointer;
}
.toright{
    float: right;
    width: 427px;
    height: 50px;
}
#comfir{
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    outline: 0;
    border: 0;
    background: #f21c1c;
    color: #fff;
    height: 50px;
    padding: 0 25px;
    font-size: 18px;
    border-radius: 0;
    right: -30px;
}

label{  
    display: inline-block;
    width: 11px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 18px;
    z-index: 1;
}
#all,#carcheck{
    z-index: 0;
}
.mark{
    background: url("../img/mark1.png") no-repeat -1px -1px;
}
.active{
    background: #cccccc;
}