@charset "utf-8";

html {
    background: #f7f7f7;
}
.title-wrap {
    width: 100%;
    height: 40px;
}

.title {
    width: 1200px;
    height: 40px;
    margin: 5px auto;
    /* background: lightblue; */
}

.title a {
    display: inline-block;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #333;
    float: left;
}

.title i,
.title p {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    color: #333;
    float: left;
    margin-left: 5px;
}

.title a:hover,
.title p:hover {
    color: #f21c1c;
}

/* 放大镜 */
.maxGlass-wrap {
    width: 100%;
    height: 700px;
}

.maxGlass {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background: #fff;
}

.maxGlass-right {
    width: 740px;
    min-height: 310px;
    float: right;
    /* background: lightcoral; */
}

.glass-right-top {
    width: 740px;
    height: 65px;
    float: left;
    /* background: lightseagreen; */
}

.glass-right-top h3 {
    width: 800px;
    height: 18px;
    float: left;
    font-size: 14px;
    line-height: 18px;
    color: #666;
    font-weight: bold;
}

.glass-right-top p {
    width: 500px;
    height: 34px;
    font-size: 12px;
    color: #f21c1c;
    line-height: 34px;
    float: left;
}

.glass-price {
    width: 730px;
    height: 62px;
    float: left;
    padding: 5px 0;
    background: #f7f7f7;
}

.low-price {
    width: 730px;
    height: 33px;
    font-size: 12px;
    line-height: 33px;
    color: #333;
    float: left;
}

.low-price span {
    height: 33px;
    font-size: 24px;
    color: #f21c1c;
    line-height: 33px;
}

.glass-price p {
    width: 730px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #333;
}

.glass-price p a {
    display: inline-block;
    color: #6679b3;
    cursor: pointer;
}

.peizhi {
    width: 100%;
    height: 18px;
    margin-bottom: 10px;
    float: left;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

.peizhi i {
    float: left;
    margin-right: 8px;
}

.peizhi p {
    color: #f21c1c;
    float: left;
}

.adj {
    width: 730px;
    height: 46px;
    float: left;
}

.adj p {
    height: 46px;
    line-height: 46px;
    font-size: 12px;
    color: #333;
    float: left;
}

.adj a {
    display: inline-block;
    width: 100px;
    height: 34px;
    padding: 0 10px;
    border: 1px solid #9c9c9c;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
    color: #333;
    margin-left: 8px;
}

.adj a:hover {
    color: #f21c1c;
}
.peisong{
    float: left;
    width: 100%;
    height: 210px;
}
.glass-foot{
    width: 100%;
    height: 46px;
    float: left;
    /* background: lightskyblue; */
    margin-top: 10px;
}
.glass-foot a{
    display: inline-block;
    width: 106px;
    height: 44px;
    padding: 0px 20px;
    border: 1px;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
    float: left;
}
.glass-foot a:nth-child(1){
    background: #f21c1c;
    color: #fff;
}
.glass-foot a:nth-child(2){
    background: #ccc;
    color: #333;
    border: 1px solid #333;
}

.detailWarp{
    width: 1200px;
    height:10000px;
    margin: 0 auto;
    background: white;
}
.detailWarp .detailLeft{
    width: 220px;
    height: 6038px;
    float: left;
    border: 1px solid #cccccc;
}
.detailWarp .detailRight{
    width: 950px;
    height: 10000px;
    float: right;
    border: 1px solid #cccccc;
}
.detailWarp .detailRight p{
    text-align:center;
    padding-left: 100px;
}

.detailLeft .LeftOther{
    width: 220px;
    height: 315px;
    border-bottom: 1px solid #cccccc;
}
.LeftOther .otherTitle{
   border-bottom: 1px solid #cccccc;
    height: 48px;
    padding: 0 9px;
    line-height: 40px;
}
 .otherTitle .font14{
    font-size: 14px;
}
.font14 span{
    font-weight: 700;
}
.LeftOther .otherContent{
    width: 220px;
    height: 255px;
    overflow: hidden;
}
.otherContent .ulWarp{
    position: relative;
    overflow: hidden;
    height: 255px;
}
.ulWarp .roll,.ulWarp .swap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: .5s ease-in-out 0s;
    
}
.ulWarp .swap{
    /* top:252px; */

}
.roll .brand-item,.swap li{
    height: 40px;
    padding: 5px 0;
    margin: 0 10px;
    border-bottom: 1px dashed #e8e8e8;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    line-height: 40px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.brand-item img{
    float: left;
    width: 93px;
    padding: 0 20px;
    height: 40px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.brand-item span{
    font-size: 12px;
    color: black;
    float: left;
}
.brand-item span:hover{
  color: red;
}
.detailLeft .detailSame{
    width: 220px;
    height: 978px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
}
.detailSame .sameTitle{
    border-bottom: 1px solid #cccccc;
    height: 48px;
    padding: 0 9px;
    line-height: 40px;
}
.sameTitle .font14{
    font-size: 14px;
}   
.sameContent{
    width: 220px;
    height: 908px;
}
.sameContent .tab-item{
    padding: 5px 10px;
    border-bottom: 1px solid #ebebeb;
    margin-top: 7px;
    height: 70px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.sameContent a{
text-decoration: none;
   color: black;
 }
.sameContent img{
   width: 70px;
    height: 70px;
    float: left;
  
}
.sameContent .text{
    width: 123px;
     height: 70px;
     float: left;
   
 }
 .sameContent .text p{
    line-height: 18px;
    margin-top: 7px;
    height: 38px;
    font-size: 12px;
     overflow: hidden;
     color: #333333;
   
 } 
 .sameContent .text span{
   color: #cccccc;
   font-size: 12px;
     overflow: hidden;
   
 } 
 .sameContent .text em{
    color: red;
   
 } 





 .detailLeft .detailBuy{
    width: 220px;
    height: 3700px;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
}
.detailBuy .buyTitle{
    border-bottom: 1px solid #cccccc;
    height: 48px;
    padding: 0 9px;
    line-height: 40px;
}
.buyTitle .font14{
    font-size: 14px;
}   
.buyContent{
    width: 220px;
    height: 3500px;
}
.buyContent .tab-item{
    border-bottom: 1px dashed #dfdfdf;
    padding: 10px 15px;
    margin-top: 7px;
    height: 274px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.buyContent a{
text-decoration: none;
   color: black;
 }
.buyContent img{
    width: 160px;
    height: 160px;
    margin: 0 auto;
  
}
.buyContent .text{
    width: 183px;
     height: 92px;
     text-align: center;
   
 }
 .buyContent .text p{
    line-height: 40px;
    /* margin-top: 7px; */
    width: 183px;
    height: 40px;
    font-size: 12px;
     overflow: hidden;
     color: #333333;
   
 } 
 .buyContent .text span{
   color: #cccccc;
   font-size: 12px;
     overflow: hidden;
   
 } 
 .buyContent .text em{
    color: red;
    font-weight: bold;
   
 }
 .buyContent .text i{
     display: block;
     width: 78px;
     height: 22px;
     background: red;
    color:white;
    font-size: 12px;
    padding: 2px 5px;
    margin-left: 40px;
    margin-top: 10px;
   
 } 