@charset "utf-8";

/* 顶部广告 */
.home-topWrap {
    width: 100%;
    height: 70px;
    background: #d02b1f;
}

.home-top {
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}

.home-top img {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}


.home-top-close {
    position: absolute;
    top: 5px;
    right: 0px;
    line-height: 12px;
    height: 14px;
    width: 14px;
    text-align: center;
    background: hsla(0, 0%, 100%, .7);
    color: #f21c1c;
    font-weight: bold;
    cursor: default;
}

.home-top-close:hover {
    color: hsla(0, 0%, 100%, .7);
    background: #f21c1c;
}

/* 顶部导航 */
.top-navWrap {
    width: 100%;
    height: 32px;
    background: #f0f0f0;
}

.top-nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /* background: lightblue; */
}

.top-nav-left {
    width: 268px;
    height: 32px;
    float: left;
   
}

.top-position {
    display: inline-block;
    width: 66px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #8c8c8c;
    background: url(../img/position_03.jpg) no-repeat left;
    cursor: pointer;
    float: left;
}

.top-position:hover {
    background: url(../img/positionRed_03.jpg) no-repeat left;
    color: #f21c1c;
}

.huanYing {
    width: 112px;
    height: 32px;
    float: left;
    font-size: 12px;
    line-height: 32px;
    color: #8c8c8c;
    cursor: pointer;
}

.huanYing:hover {
    color: #f21c1c;
}

.top-nav-left a {
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    color: #8c8c8c;
}

.top-nav-left a:nth-of-type(1) {
    margin-right: 5px;
}

.top-nav-left a:hover {
    color: #f21c1c;
}

.top-nav-right {
    width: 728px;
    height: 32px;
    float: right;
    /* background: lightsalmon; */
}

.top-nav-right a,.yangshiqq {
    float: left;
    display: inline-block;
    width: 70px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    margin-right: 6px;
    text-align: center;
    color: #8c8c8c;
}

.top-nav-right a:nth-child(8) {
    width: 88px;
}


.top-nav-right a:nth-child(7) img {
    position: absolute;
    top: 32px;
    right: 0;
}

.top-nav-right a:nth-child(9) img {
    position: absolute;
    top: 32px;
    right: 0;
}

.top-nav-right a:nth-child(9) {
    width: 94px;
}

.top-nav-right a:hover {
    color: #f21c1c;
}


.top-nav-right .yangshi ul {
    display: none;
    width: 80px;
    height: 180px;
    border: 1px solid #cccc;
    border-top: none;
    color: #8c8c8c;
    z-index: 10;
}


.top-nav-right .yangshi ul li{

    height: 30;
    background: white;
}
.top-position:hover,
.top-nav-right .yangshi:hover {
    background: #fff;
}

.top-nav-right .yangshi .kehuwarp{
    width: 150px;
    height: 150px;
    background: #fff;
    display: none;
    z-index: 10;
}
.top-nav-right .yangshi .kehu1{
    width: 100px;
    height: 150px;
    float: left;
}
.top-nav-right .yangshi .kehu1 img{
    width: 100px;
    height: 100px;
}
.top-nav-right .yangshi .kehu1 p{
    width: 100px;
    
}
/* .top-nav-right .yangshiqq{
   display: inline-block;
    font-size: 12px;
    color: #8c8c8c;
} */
.top-nav-right .yangshiqq .wd{
    width: 1200px;
    height: 200px;
    position: absolute;
    left: 0px;
    top: 33px;
    background: white;
    z-index: 10;
    display: none;
    
}
.top-nav-right .yangshiqq .wd .wdli{
    width: 200px;
    height: 160px;
    float: left;
    padding-right: 40px;
      
}
.top-nav-right .yangshiqq:hover{
    background: white;
    color: red;
}
.top-nav-right .yangshiqq .wd .wdd{
    width: 200px;
    height: 160px;
   
    
}
/* 网页导航 */
.navWrap {
    width: 100%;
    height: 147px;
    background: #f7f7f7;
}

.navWrap .navCase {
    width: 1200px;
    height: 147px;
    margin: 0 auto;
    /* background: lightskyblue; */
}

.navCase-left {
    width: 966px;
    height: 100%;
    float: left;
}

.nav-head {
    width: 966px;
    height: 100px;
    float: left;
    /* background: palegreen; */
}

.nav-head .nav-head-logo {
    display: inline-block;
    width: 220px;
    height: 78px;
    float: left;
    padding-top: 22px;
    background: white;
}

.nav-head .nav-head-logo a {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 25px 55px;
}

.nav-head .nav-head-logo a img {
    width: 110px;
    height: 50px;
}

.nav-head-content {
    width: 510px;
    height: 59px;
    float: left;
    margin: 20px 0 0 50px;
    /* background: plum; */
}

.nav-head-content section {
    width: 510px;
    height: 34px;
    /* background: yellow; */
}

.nav-head-content section input {
    border: 1px solid #f21c1c;
    height: 34px;
    line-height: 31px;
    width: 440px;
    outline: 0;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
}

.nav-head-content section button {
    background-color: #f21c1c;
    border: 0;
    color: #fff;
    float: left;
    width: 70px;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
    font-size: 16px;
}

.nav-head-lines {
    width: 510px;
    height: 25px;
    /* background: yellowgreen; */
}

.nav-head-lines span {
    display: inline-block;
    width: 68px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    color: #9c9c9c;
    float: left;
}

.nav-head-lines a {
    display: inline-block;
    height: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #9c9c9c;
    margin-right: 10px;
    float: left;
}

.nav-foot {
    width: 966px;
    height: 47px;
    float: left;
    /* background: peachpuff; */
}

.nav-foot-left {
    width: 220px;
    height: 100%;
    float: left;
    background:white;
}

/* 二级导航栏在列表页中的复用 */
.sevList .second-nav{
    background: red;
}
.nav-foot-left p{
    width: 220px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    background: red;
    color: white;
}

.nav-foot-right {
    width: 746px;
    height: 100%;
    float: left;
    /* background: mediumaquamarine; */
}

.nav-foot-right a {
    font-size: 16px;
    padding: 0 16px;
    height: 45px;
    display: block;
    line-height: 45px;
    white-space: nowrap;
    float: left;
    color: #333;
    position: relative;
    text-align: center;
    /* z-index: 1; */
}

.nav-foot-right a i {
    position: absolute;
    top: 41px;
    left: 0px;
    width: 95px;
    height: 45px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    display: none;
    color: #333;
}

.nav-foot-right a i:hover {
    background: #f21c1c;
    color: #fff;
}

.nav-foot-right a:hover {
    color: #f21c1c;
}

.navCase-right {
    width: 158px;
    height: 38px;
    border: solid 1px #dfdfdf;
    float: right;
    margin-top: 20px;
    background: #fff;
    position: relative;
}

.navCase-right a {
    display: inline-block;
    width: 158px;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #333;
    margin: 10px auto;
}

.navCase-right:hover a{
    color: #f21c1c;
}
.navCase-right img{
    position: absolute;
    top: 37px;
    right: -1px;
    display: none;
}
.navCase-right:hover img{
    display: block;
}

/* 楼层中写死的部分 */
.oldTonew{
    width: 1200px;
    height: 270px;
    margin: 0px auto;
    margin-top: 50px;
}
.oldleft{
    width: 560px;
    height: 250px;
    padding: 0  10px 10px;
    float: left; 
    background: white;
    margin-right: 20px;
}
.oldleft .oldTitle{
    width: 595px;
    height: 50px;
    line-height: 50px;
}
.oldleft .oldTitle b{
    color: #000;
    margin-right: 10px;
}
.oldleft .oldTitle span{
    color: #9c9c9c;
}
.oldleft img{
    width: 555px;
    height: 200px;
}

/* 下一个渲染的楼层 */
.freeWarp{
    width: 1200px;
    height: 268px;
    margin: 20px auto;
    /* background: white; */
}
.free{
width: 580px;
height: 258px;
float: left;
margin-left: 10px;
background: white;
}
.free .ftitle{
    width: 580px;
    height: 50px;
    line-height: 50px;
}
.free .ftitle b{
    color: #000;
    margin-right: 10px;
    margin-left: 10px;
    margin-left: 25px;
}
.free .ftitle a{
   color: #cccc;
   float: right;
   text-decoration: none;
   font-size: 14px;
}
.free .fcontent{
    width: 580px;
    height: 218px;
    padding: 0  10px 10px;
}
.free .fcontent a{
    display:inline-block;
    width: 180px;
    height: 198px;
    padding: 4px;
    
}

.free .ft{
    width: 157px;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    font-weight: bold;
    border-left: 4px solid #C43352;
    color: #C43352;
    padding-left: 5px;
    overflow: hidden;
}
.free .ff{
    width: 157px;
    height: 16px;
    font-size: 12px;
    color: black;
    margin-top: 5px;
    overflow: hidden;
}
.free img{
    width: 120px;
    height: 120px;
    margin: 14px 18px 0;
}
.week{
    width: 1160px;
    height: 254px;
    margin: 20px auto;
    background: white;
}
.weekl{
    width: 252px;
    height: 241px;
    float: left;
}
.weekl a{
    width: 200px;
    height: 200px;

}
.weekl a img{
    width: 200px;
    height: 200px;
   
}
.weekr{
    width: 890px;
    height: 200px;
    float: left;
    text-align: center;
}
.weekr .wtitle{
    width: 166px;
    height: 16px;
    color: black;
    font-size: 12px;
   overflow: hidden;
}
.weekr .wprice{
    color: red;
 }
 .four{
     width: 1200px;
     height: 384px;
     margin: 50px auto;
     background: white;
 }

 /* 右边的固定定位 */
 .tool{
    width: 35px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: #333;
    z-index: 79;
    /* -webkit-transition: width .3s ease;
    -o-transition: width .3s ease; */
    transition: width .3s ease;
 }
 .tool .tool-item{
     width: 35px;
     height: 210px;
     /* background: blue; */
    position: absolute;
    top: 36%;

 }
 .tool .toolButtom{
     position: absolute;
     bottom: 0;
 }
 .tool-item .item,.toolButtom .item{
    width: 35px;
    height: 35px;
    text-align: center;
 }
 /* .tool-item .item img{
    text-align: center;
    vertical-align: middle;
 } */
 .tool-item .item a,.toolButtom .item a{
    display: flex;
    width: 35px;
    height: 35px;
    position: relative;
    color: #fff;
    justify-content: center;
    align-items: center;
 }
 .tool-item .item a img{
    vertical-align: top;
 }
 .tool-item .item a span,.toolButtom .item a span{
    position: absolute;
    right: 45px;
    top: 0;
    height: 35px;
    display: block;
    opacity: 0;
    background: #333;
    width: 70px;
    text-align: center;
    transition: all .3s ease;
    line-height: 35px;
    visibility: hidden;

 }
