.listWarp {
  width: 1200px;
  margin: 0 auto;
}

.listWarp .listSection {
  width: 220px;
  height: 1000px;
  background: white;
  float: left;
}

.listWarp .listSection .cate-tree {
  width: 220px;
  border: 1px solid #cccccc;
}

.listWarp .listSection .cate-tree h4 {
  height: 36px;
  padding: 0 10px;
  line-height: 36px;
  background: #cccccc;
  border-bottom: 1px solid #333333;
}

.listWarp .listSection .cate-tree .dlOne {
  color: red;
  height: 36px;
  line-height: 36px;
}

.listWarp .listSection .cate-tree .dlTow .odl {
  background: #cccccc;
}

.listWarp .listSection .cate-tree .dlTow .odl a {
  color: black;
}

.listWarp .listSection .cate-tree .dlTow .odl .aTow {
  width: 16px;
  height: 16px;
  float: right;
  text-align: center;
  line-height: 16px;
  border: 1px solid black;
}

.listWarp .listSection .cate-tree .dlTow .odd {
  display: none;
}

.listWarp .listSection .cate-tree .dlTow .odd .dds {
  height: 36px;
  color: #cccccc;
  font-size: 12px;
  line-height: 36px;
  margin-left: 20px;
}

.listWarp .listSection .cate-tree .dlTow .odd .ddp {
  height: 36px;
  color: #cccccc;
  font-size: 12px;
  line-height: 36px;
  margin-left: 50px;
}

.listWarp .listSection .cate-tree .dlTow .odd .ddk {
  height: 36px;
  color: #cccccc;
  font-size: 12px;
  line-height: 36px;
  margin-left: 30px;
}

.listWarp .listSection .cate-list {
  width: 220px;
  border: 1px solid #cccccc;
  margin-top: 20px;
}

.listWarp .listSection .cate-list h4 {
  background: #cccccc;
  line-height: 36px;
}

.listWarp .listSection .cate-list a {
  display: block;
  width: 200px;
  height: 91px;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

.listWarp .listSection .cate-list a img {
  width: 70px;
  height: 70px;
  float: left;
}

.listWarp .listSection .cate-list a .achild {
  width: 118px;
  height: 70px;
  float: left;
  margin-left: 10px;
}

.listWarp .listSection .cate-list a .achild p:nth-child(1) {
  width: 118px;
  height: 36px;
  overflow: hidden;
  font-size: 12px;
  color: black;
}

.listWarp .listSection .cate-list a .achild p:nth-child(2) {
  width: 118px;
  height: 20px;
  color: red;
  margin-top: 10px;
}

.listWarp .listTop {
  width: 960px;
  height: 42px;
  background: #cccccc;
  opacity: .7;
  float: right;
}

.listWarp .listTop span {
  display: inline-block;
  width: 150px;
  text-align: center;
  line-height: 42px;
  color: white;
}

.listWarp .content {
  width: 960px;
  height: 1600px;
  float: right;
}

.listWarp .content li {
  float: left;
  width: 220px;
  margin: 7px;
  padding: 10px;
  height: 378px;
  box-sizing: border-box;
}

.listWarp .content li .picb {
  display: block;
  width: 200px;
  height: 200px;
}

.listWarp .content li .picb img {
  width: 200px;
  height: 200px;
}

.listWarp .content li .picm {
  width: 200px;
  height: 36px;
  overflow: hidden;
}

.listWarp .content li .picm a img {
  display: inline-block;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
}

.listWarp .content li .title {
  display: block;
  width: 200px;
  height: 34px;
  overflow: hidden;
  text-decoration: none;
  font-size: 12px;
  color: #333333;
  margin: 5px 0 0;
}

.listWarp .content li .pop {
  width: 200px;
  height: 20px;
  margin: 5px 0;
  color: red;
}

.listWarp .content li p {
  color: #9c9c9c;
  font-size: 12px;
}

.listWarp .current {
  border: 2px solid #cccccc;
}

.listWarp .active {
  border: 1px solid red;
}

.listWarp #page {
  width: 200px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.listWarp #page a {
  background: #cccccc;
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  margin-right: 10px;
  color: black;
}

.listWarp #page .active {
  background: pink;
}

.listWarp .listTop .active {
  background: pink;
  color: black;
}
