@charset "utf-8";

html {
    background: #f6f6f6;
}

.wrapper {
    width: 960px;
    height: 544px;
    font-family: 'Microsoft YaHei';
    margin: 10px auto;
}

.log_head {
    float: left;
    width: 100%;
    height: 80px;
}

.log_logo a img {
    float: left;
    width: 100px;
    height: 50px;
}

.log_logo a span {
    float: left;
    text-decoration: none;
    color: #c80f1e;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    border-left: 2px solid #d6d6d6;
    padding-left: 40px;
    padding-top: 8px;
    margin-left: 40px;
}

.wrapper {
    width: 100%;
    box-sizing: border-box;
}

.login-top {
    width: 100%;
    height: 80px;
    float: left;
}

.wrapper .login-top .log_head {
    width: 980px;
    height: 80px;
    margin: 0 auto;
    float: none;
}

.login-content {
    width: 100%;
    height: 450px;
    background: url(../img/20180323225544_7689.jpg) no-repeat center;
    float: left;
}

.login-center {
    width: 980px;
    height: 450px;
    margin: 0 auto;
    /* background: #fff; */
}

.login-right {
    width: 350px;
    height: 400px;
    float: right;
    margin: 25px 20px 25px 0;
    background: #fff;
}

.login-right-top {
    width: 350px;
    height: 50px;
    float: left;
    border-bottom: 1px solid #dfdfdf;
    /* background: burlywood; */
}

.login-right-top .xs {
    color: #f21c1c;
    border-bottom: 1px solid #f21c1c;
}

.login-right-top a {
    width: 174.5px;
    height: 100%;
    font-size: 16px;
    line-height: 50px;
    color: #333;
    float: left;
    text-align: center;
    cursor: default;
}

.login-right-top i {
    float: left;
    width: 1px;
    height: 100%;
    font-size: 16px;
    color: #dfdfdf;
    line-height: 50px;
}

.login-right-center:nth-child(1) {
    float: left;
    width: 310px;
    /* height: 143px; */
    height: 208px;
    margin: 34px 20px 0;
    /* background: lightgreen; */
}

.login-right-center .login-right-center-bigPic {
    width: 140px;
    height: 140px;
    margin: 20px auto;
}

.login-right-center .login-right-center-2weima {
    width: 158px;
    height: 20px;
    /* float: left; */
    font-size: 12px;
    color: #333;
    line-height: 20px;
    margin: 0 auto;
}

.login-right-center .login-right-center-2weima img {
    width: 16px;
    height: 14px;
    float: left;
    margin: 2px 5px 0 3px;
}

.login-right-center .login-right-center-2weima a {
    color: #f21c1c;
}

.login-right-center:nth-child(2) {
    float: left;
    width: 310px;
    /* height: 143px; */
    height: 208px;
    margin: 34px 20px 0;
    /* background: lightgreen; */
}

.login-right-center-A {
    width: 298px;
    height: 36px;
    border: 1px solid #dfdfdf;
    margin-top: 16px;
    padding-left: 10px;
    float: left;
}

.login-right-center-A img {
    float: left;
    width: 17px;
    height: 20px;
    margin-top: 8px;
}

.login-right-center-A input {
    width: 268px;
    height: 34px;
    float: left;
    margin-left: 10px;
    border: none;
    margin-top: 1px;
}

.login-right-center-B {
    width: 310px;
    height: 18px;
    margin-top: 16px;
    float: left;
    /* background: lightpink; */
}

.login-right-center-B a:nth-child(1) {
    float: left;
    width: 100px;
}

.login-right-center-B a:nth-child(2) {
    float: right;
    width: 56px;
}

.login-right-center-B a {
    display: inline-block;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    color: #333;
}

.login-right-center-B a:hover {
    color: #f21c1c;
}

.login-button {
    width: 310px;
    height: 45px;
    margin: 16px 0;
    float: left;
    border-radius: 2px;
    background: #dfdfdf;
}

.login-button span {
    width: 32px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    margin-left: 45%;
    color: #fff;
}

.login-change {
    width: 310px;
    height: 18px;
    float: left;
    margin: 20px 0 0 20px;
    /* background: lightpink; */
}

.login-change span {
    display: inline-block;
    float: left;
    width: 54px;
    height: 18px;
    font-size: 12px;
    color: #333;
    line-height: 18px;
    margin-left: 40%;
}

.login-change img {
    width: 15.5px;
    height: 15.5px;
    float: left;
    margin-top: 1px;
    margin-left: 5px;
}

.login-right-line {
    width: 310px;
    height: 18px;
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    color: #9c9c9c;
    font-size: 12px;
    line-height: 18px;
    /* background: lightsalmon; */
}

.login-right-line span {
    color: #dfdfdf;
}

.login-deepLogo {
    width: 310px;
    height: 24px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 12px;
    /* background: lightpink; */
}

.login-deepLogo a,
i {
    float: left;
    line-height: 24px;
}

.login-deepLogo a span {
    margin-left: 5px;
    color: #333;
}

.login-deepLogo a span:hover {
    color: #f21c1c;
}

.login-deepLogo i {
    margin: 0 5px;
    color: #dfdfdf;
}

.login-deepLogo a img,
.login-deepLogo a img span {
    float: left;
}

.login-deepLogo input{
width: 20px;
height: 20px;
}

.active{
    background: red;
}